In [11]:
# this will autoreload your packages (i.e. if you make a change to one of your .py files, you will not need to restart your notebook - your change is dynamically imported)
%load_ext autoreload
%autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
import pandas as pd

In [15]:
import os

import django
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true" # to be able to make async database calls from the notebook
os.environ["DJANGO_SETTINGS_MODULE"] = "fpl.settings"
django.setup()

RuntimeError: populate() isn't reentrant

In [13]:
df_players = pd.read_csv('df_players.csv')
df_teams = pd.read_csv('df_teams.csv')
df_teams

,id,code,name,short_name,win,draw,loss,played,points,position,...,strength,team_division,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id,unavailable
0,1,3,Arsenal,ARS,0,0,0,0,0,0,...,5,NaN,1350,1365,1370,1370,1330,1360,1,False
1,2,7,Aston Villa,AVL,0,0,0,0,0,0,...,4,NaN,1160,1285,1140,1220,1180,1350,2,False
2,3,91,Bournemouth,BOU,0,0,0,0,0,0,...,3,NaN,1100,1100,1055,1130,1145,1075,127,False
3,4,94,Brentford,BRE,0,0,0,0,0,0,...,3,NaN,1100,1100,1110,1055,1090,1150,130,False
4,5,36,Brighton,BHA,0,0,0,0,0,0,...,3,NaN,1100,1210,1070,1180,1135,1240,131,False
5,6,90,Burnley,BUR,0,0,0,0,0,0,...,2,NaN,1045,1050,1050,1050,1040,1050,43,False
6,7,8,Chelsea,CHE,0,0,0,0,0,0,...,3,NaN,1125,1190,1080,1150,1170,1230,4,False
7,8,31,Crystal Palace,CRY,0,0,0,0,0,0,...,3,NaN,1070,1100,1080,1120,1060,1085,6,False
8,9,11,Everton,EVE,0,0,0,0,0,0,...,3,NaN,1095,1100,1125,1125,1065,1080,7,False
9,10,54,Fulham,FUL,0,0,0,0,0,0,...,3,NaN,1055,1175,1050,1180,1060,1170,34,False
10,11,14,Liverpool,LIV,0,0,0,0,0,0,...,4,NaN,1240,1370,1210,1350,1270,1390,10,False
11,12,102,Luton,LUT,0,0,0,0,0,0,...,2,NaN,1055,1090,1020,1060,1090,1120,163,False
12,13,43,Man City,MCI,0,0,0,0,0,0,...,5,NaN,1355,1365,1350,1360,1360,1370,11,False
13,14,1,Man Utd,MUN,0,0,0,0,0,0,...,3,NaN,1125,1220,1130,1210,1120,1230,12,False
14,15,4,Newcastle,NEW,0,0,0,0,0,0,...,3,NaN,1105,1280,1050,1210,1160,1355,23,False
15,16,17,Nott'm Forest,NFO,0,0,0,0,0,0,...,3,NaN,1065,1100,1050,1125,1080,1080,15,False
16,17,49,Sheffield Utd,SHU,0,0,0,0,0,0,...,2,NaN,1030,1040,1045,1020,1020,1060,18,False
17,18,6,Spurs,TOT,0,0,0,0,0,0,...,4,NaN,1170,1230,1110,1150,1230,1310,21,False
18,19,21,West Ham,WHU,0,0,0,0,0,0,...,3,NaN,1100,1145,1055,1140,1150,1150,25,False
19,20,39,Wolves,WOL,0,0,0,0,0,0,...,3,NaN,1100,1100,1085,1105,1115,1100,38,False

In [19]:
df = df_players[['first_name', 'second_name', 'team']].merge(df_teams[['name', 'id']], left_on = 'team', right_on = 'id')
df = df.drop(columns = ['team', 'id'])
df = df.rename(columns = {"name" : "team"})
df

     first_name               second_name         team
0         Aaron                  Ramsdale      Arsenal
1    Rúnar Alex                 Rúnarsson      Arsenal
2         David               Raya Martin      Arsenal
3          Karl                      Hein      Arsenal
4      Emiliano           Martínez Romero  Aston Villa
..          ...                       ...          ...
832       Fábio                     Silva       Wolves
833        Sasa                 Kalajdzic       Wolves
834     Matheus  Santos Carneiro Da Cunha       Wolves
835      Nathan                    Fraser       Wolves
836        Leon                   Chiwome       Wolves

[837 rows x 3 columns]

In [27]:
from fpl.models import Club

for index, row in df_teams.iterrows():
    c = Club(name=row['name'])
    c.save()

In [29]:
from fpl.models import Player

for index, row in df.iterrows():
    p = Player(first_name=row['first_name'], last_name = row['second_name'], club = Club.objects.get(name = row['team']))
    p.save()